.tpop{
    top: 16.25vw;
    left : 17.3611vw;
     border-radius: 20px;
     margin-left: 0px;
     margin-right: 1vw;
 }
 .modal-title{
    position: absolute;
    width: 429px;
    height: 26px;
    left: 255px;
    top: 46px;
}
.modal-title-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #10222E;
}
.tpopb{
    background: #FFF5D1;
    border: 1px solid #FFF5D1;
    padding-left: 8px;
}
.tpop-header{
    background: #FFF5D1;
    border: 4px solid #FFF5D1;
}
.box{
    width: 104px;
    height: 100px;
    background: #10222E;
    padding: 30px;
    }
    .rec{
        margin-left: 44px;
        margin-top: 30px;
        width: 333px;
        height: 105px;
        display: flex;
        flex-direction: row;
        border: 4px solid #10222E;
        border-radius: 10px;
    }
    .textbox{
        width: 233px;
        height: 100px;
    }
    .boxtext{
        padding-left: 1.4vw;
        padding-top: 1.8vw;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #10222E;
    }
    .dog{
        
        width: 42px;
    height: 42px;
    background: url("./dog.png");
    
    }
    .presentation{
        
        width: 42px;
        height: 42px;
        background: url("./presentation.png");
       
    }
    .crossbox{
        width: 24px;
        height: 24px;
        margin-left: 60vw;
    }
    .cross{
        width: 20px;
        height: 20px;
        background : url("./cross.png");
    }
    .calendar{
        width: 42px;
        height: 42px;
        background: url("./calendar.png");
        
    }
    .smallbox{
        margin-top: 15px;
        margin-right: 10px;
        margin-left: 10px;
        width: 24px;
        height: 24px;
    }
    .smallcalendar{
        width: 24px;
        height: 24px;
        background: url("./smallcalendar.png");
    }
   
    .upload{
       
        width: 42px;
        height: 42px;
        background: url("./upload.png");
    
    }
    .poly{
        width: 24px;
        height: 24px;
        background: url("./Poly.png");
    }
    .creatbox{
        width: 217px;
        height: 58px;
        margin-right: 300px;
        border: 4px solid #10222E;
        box-sizing: border-box;
        border-radius: 10px;
        }
        
        .creat-text{
        width: 153px;
        height: 32px;
        margin-top: 10px;
        margin-left: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #10222E;
        }

 @media screen and  (max-width: 350px){
    .tpop{
        left : 1vw;
        padding: 2vw;
        margin-top: 40px;
     }
     .modal-title{
        width: 300px;
        height: 46px;
        left: 0px;
        top: 0px;
        padding: 4vw;
        padding-left: 13vw;
    }
    .modal-title-text{
        font-weight: 350;
        font-size: 26px;
        line-height: 42px;
    }
    .rec{
        margin-left: 0px;
        margin-top: 20px;
        width: 80vw;
        height: 75px;
    }
    .box{
        width: 80px;
        height: 70px;
        margin-right: 10px;
        padding: 11px;
        }
        .creatbox{
           margin-right: 10.5vw;
           margin-left: 8.5vw;
            }
}
@media screen and (min-width: 351px) and  (max-width: 576px){
    .tpop{
        top: 0px;
        left : 1vw;
        padding: 12vw;
        margin-top: 80px;
     }
     .modal-title{
        width: 75vw;
        height: 46px;
        left: 0px;
        top: 0px;
        padding: 10px;
        padding-left: 15vw;
        padding-bottom: 4px;
    }
    .modal-title-text{
        font-weight: 400;
        font-size: 26px;
        line-height: 42px;
    }
    .rec{
        margin-left: 0px;
        margin-top: 20px;
        width: 60vw;
        height: 80px;
    }
    .box{
        width: 75px;
        height: 75px;
        padding: 11px;
        }
        .creatbox{
            margin-right: 10.5vw;
            margin-left: 8.5vw;
             }
}
@media screen and (min-width: 600px){
    .modal-title{
        position: absolute;
        width: 429px;
        height: 36px;
        left: 255px;
        top: 16px;
    }
    
    
}
@media screen and (min-width: 1200px) {
    .tpop{
        margin-top: 0px;
        padding-right: 200px;
     }
}

