.dark-bg{
    background-color: #10222E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.vert-center-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.GoogleSignUp{
    background-color: #10222E;
    height: 100vh;
}

.GoogleSignUp__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 15vh;
    background-color: #10222E;
    padding-bottom: 20vh;
}

.form-1-gs{
    width: 40vw;
    min-height: 50px;
    background: #EBE7DA;
    border-radius: 10px;
    margin-bottom: 5px;
}

.form-3-gs{
    width: 20vw;
    height: 50px;
    background: #EBE7DA;
    border-radius: 10px;
    margin-bottom: 5px;
}

.h1__white{
    color: white;
    margin-bottom: 50px;
}



@media only screen and (max-width: 700px) 
{
   .GoogleSignUp__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        text-align: center;
    }  

    .form-div{
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        margin-right: 36vw;
    }

    .GoogleSignUp__form_3{
        margin-left: 0vw;
        margin-top: 0px;
        
    }

    .vert-center-align{
        display: none;
    }

    .logo-gs > img{
        width: 284px;
        height: 84px;
    }

    .form-1-gs{
        width: 70vw;
    }

    .form-3-gs{
        margin-left: 37vw;
        width: 70vw;
    }

    .gs-form{
        margin-left: -88vw;
    }



    
}