@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

.login{
    margin: 0;
    background: #10222E;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
}


.navbar{
    display: flex;
    justify-content: space-between;
}

.mobile__head__login{
    display: none;
}

.options{
    display: flex;
    margin-top: 35px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    color: #FFF5D1;
    margin-left: 173px;
}

.option-1{
    margin-right: 28px;
    width: 71px;
    height: 26px;
}

.option-2{
    margin-right: 28px;
    width: 118px;
    height: 26px; 
}

.option-3{
width: 118px;
height: 26px;
}

.login-btn{
    width: 172px;
    height: 54px;
    background: #10222E;
    border: 4px solid #FFF5D1;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFF5D1;
    margin-right: 14px;
    margin-top: 19px;
    outline: none;
    margin-left: 6px;

}


.signup-btn{
    width: 172px;
    height: 54px;
    background: #FFF5D1;
    border: 4px solid #FFF5D1;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #10222E;
    margin-right: 62px;
    outline: none;

}

.login__title{
    width: 136px;
    height: 40px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFF5D1 !important;
    display: inline-block;
    margin-top: 85px;
    justify-self: center;
    align-self: flex-start;
    margin-left: -0.3vw;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.final-btn{
    width: 448px;
    height: 48px;
    background: #10222E;
    border: 4px solid #FFF5D1;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFF5D1;
    outline: none;
    
}

.left-p__login{
    margin-left: 10vw;
}

.f-pass{
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  margin-top: 24px;
  width: 206px;
  height: 16px;
  color: #FFF5D1;
  margin-bottom: 25px;
  opacity: 0.6;
  margin-left: 9vw;
  
}

.signup-l{
    width: 260px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFF5D1;
    margin-left: 11vw;

}

.form-1, .form-2{
    width: 30vw;
    background: #EBE7DA;
    border-radius: 10px;
    height: 7vh;
}

.blank{
    width: 25vw;
    height: 30vw;
    background: #EBE7DA;
    border-radius: 28px;
    background: #EBE7DA;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: absolute;
    bottom: 10vh;
    right: 13vw;
}

.total-p{
    display: flex;
}

.left-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:0.7;
}

.right-p{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.picture{
    width: 25vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 28px;
    z-index: 3;
    position: absolute;
    bottom: 15vh;
    right: 15vw;
}

.social{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 28px;
text-align: center;
color: #EBE7DA;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 3vh;
}

.social> img{
width: 28px;
height: 28px;
margin-top: 3vh;
}

.form-1{
    margin-top:3vh ;
    margin-bottom: 2vh;
}

.social-icons{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
}

::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    
}

.line-1{
    z-index: -1;
    width: 44vw;
    right: 0vw;
    bottom: 0;
    position: absolute;
}

.line-2{
    z-index: 0;
    width: 40vw;
    right: 0;
    bottom: 0;
    position: absolute;
}

.login-btn:hover{
    opacity: 0.6;
}

.signup-btn:hover{
    opacity: 0.6;
}

.final-btn:hover{
    opacity: 0.6;
}



@media only screen and (max-width: 768px){
    .blank{
        display: none;
    }

    .picture{
        display:none;
    }

    .logo{
        margin-left: 10vw;
    }

    .options{
        width: 100%;
        margin-left: 10px;
        display: none;
    }

    .buttons{
        display: none;
    }

    .signup-btn{
        margin-top: 20px;
    }

    .left-p__login{
        margin-left: -30vw;
        margin-top: -5vh;
    }

    .form-1, .form-2{
        width: 80vw;
        background: #EBE7DA;
        border-radius: 10px;
        height: 7vh;
    }

    .form-1{
        margin-top:3vh ;
        margin-bottom: 2vh;
    }

    .final-btn{
        width: 300px;
    }

    .social{
        margin-left: 30vw;
        margin-top: 20px;
    }

    .login__dots_1,.login__dots_2{
        display: none;
    }
    
    .line-1, .line-2{
        display: none;
    }
    
    .option-1, .option-2, .option-3{
        display: none;
    }
    
    .login__title{
        margin-left: 38vw;
    }
    
    .form-1,.form-2{
        margin-left: 40vw;

    }
    
    .final-btn{
        width: 180px;
        margin-left: 45vw;
    }

    
    
   
    .social{
        margin-left: 45vw;
    }

    .mobile__head__login{
        position: absolute;
        top: 0;
    }

    .left-p__login{
        margin-left: -30vw;
    }

    .f-pass{
        margin-left: 8vw;
    }

    .signup-l{
        margin-left: 9.5vw;
    }
    



    .f-pass{
        margin-left: 54vw;
    }

    .signup-l{
        margin-left: 62vw;
    }

}

.login__dots_1{
    position: absolute;
    right: 33vw;
    top: 17vh;
    
}

.login__dots_2{
    position: absolute;
    right: 10vw;
    bottom: 3vh;
}

::placeholder{
    line-height: 2;
}

