@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

.login{
    margin: 0;
    background: #10222E;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
}

.logo{
    
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.options{
    display: flex;
    margin-top: 35px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    color: #FFF5D1;
    margin-left: 173px;
}

.option-1{
    margin-right: 28px;
    width: 71px;
    height: 26px;
}

.option-2{
    margin-right: 28px;
    width: 118px;
    height: 26px; 
}

.option-3{
width: 118px;
height: 26px;
}

.login-btn{
    width: 172px;
    height: 54px;
    background: #10222E;
    border: 4px solid #FFF5D1;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFF5D1;
    margin-right: 14px;
    margin-top: 19px;
    outline: none;
    margin-left: 6px;

}


.signup-btn{
    width: 172px;
    height: 54px;
    background: #FFF5D1;
    border: 4px solid #FFF5D1;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #10222E;
    margin-right: 62px;
    outline: none;

}

.title{
    width: 136px;
    height: 40px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFF5D1 !important;
    margin-left: 85px;
    display: inline-block;
    margin-top: 25px;
    
}

.form-1{
    width: 448px;
    height: 50px;
    background: #EBE7DA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 92px;
    margin-top: 17px;
}

.form-2{
    width: 448px;
    height: 50px;
    background: #EBE7DA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 92px;
    margin-top: 22px;
}

.final-btn{
    width: 448px;
    height: 48px;
    background: #10222E;
    border: 4px solid #FFF5D1;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 92px;
    margin-top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFF5D1;
    outline: none;
    
}

.f-pass{
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  margin-top: 24px;
  margin-left: 217px;
  width: 206px;
  height: 16px;
  color: #FFF5D1;
  margin-bottom: 25px;
  opacity: 0.6;
  
}

.signup-l{
    margin-left: 245px;
    width: 260px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFF5D1;


}

.blank{
    width: 307px;
    height: 401.37px;
    background: #EBE7DA;
    border-radius: 28px;
    background: #EBE7DA;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    margin-left: 356px;
    margin-top: -370px;
    z-index: 2;
    position: relative;
    margin-right: 30px;
}

.total-p{
    display: flex;
}

.left-p{
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.picture{
    width: 309px;
    height: 407.64px;
    border-radius: 28px;
    margin-top: 70px;
    margin-left: 340px;
    z-index: 3;
    position: relative;
    margin-right: 50px;
}

.social{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 28px;
text-align: center;
color: #EBE7DA;
margin-top: 60px;
margin-left: 86px;
}

.social-icons img{
width: 28px;
height: 28px;
}

.social-icons{
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
}

::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    
}

.line-1{
    z-index: 0;
    width: 309px;
    height: 407.64px;
    margin-top: -400px;
    position: relative;
    
}

.line-2{
    width: 409px;
    height: 507.64px;
    margin-top: -500px;
    margin-left: 300px;
    position: relative;
    z-index: 0;

}

.login-btn:hover{
    opacity: 0.6;
}

.signup-btn:hover{
    opacity: 0.6;
}

.final-btn:hover{
    opacity: 0.6;
}



@media only screen and (max-width: 768px){
    .blank{
        display: none;
    }

    .picture{
        display:none;
    }

    .logo{
        display: none;
    }

    .options{
        width: 100%;
        margin-left: 10px;
    }

    .buttons{
        display: none;
    }

    .signup-btn{
        margin-top: 20px;
    }

    .left-p{
        margin-left: -70px;
    }

    .form-1, .form-2{
        width: 100%;
    }

    .final-btn{
        width: 300px;
    }

    .f-pass{
        margin-left: 150px;
    }

    .signup-l{
        margin-left: 170px;
    }

    .social{
        margin-left: 50px;
        margin-top: 20px;
    }

}