.up{
    height: 20px;
    width: 20px;
    margin-left: 568px;
    margin-top: 10px;
}

.head{
    margin-top: 20px;
}

.chart{
    width: 50vw;
    height: 40vh;
    margin-left: 140px;
    margin-top: 40px;
}

.x-info, .y-info{
display: flex;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
margin-left: 170px;
}

.line-p{
border: 2px solid #000000;
box-sizing: border-box;
width: 409px;
height: 0px;
margin-top: 13px;
margin-left: 12px;
}

.y-info{
    transform: rotate(-90deg);
    margin-left: -700px;
    margin-top: -850px;
}

.line-p-2{
border: 2px solid #000000;
box-sizing: border-box;
width: 150px;
height: 0px;
margin-top: 12px;
margin-left: 20px;
}

.pdf-btn{
width: 200px;
height: 46px;
border: 3px solid #10222E;
box-sizing: border-box;
border-radius: 4px;
position: absolute;
left: 654px;
top: 510px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
}

.pdf-btn:hover{
    opacity: 0.6;
}

@media only screen and (max-width: 768px){
    .pdf-btn{
        left: 100px;
        top: 550px;
    }

    .table-c-1{
        width: 90vw;
    }

    .y-info{
        margin:0;
        position: aboslute;
        left: 70px;
        margin-top: -300px;
        margin-left: -190px;
        width: 500px;
        font-size: 12px;
    }

    .chart{
        margin-left: 90px;
    }

    .x-info{
        margin-left: 50px;
        font-size: 12px;
    }

    .line-p{
        width: 150px;

    }

    .t-2-p{
        width: 70px;
        margin-left: 250px;
        margin-top: 5px;
        line-height: 1.3;
        font-size: 14px;
    }

    .t-1-p{
        width: 70px;
        margin-top: 5px;
        line-height: 1.3;
        margin-left: 10px;
        font-size: 14px;
    }
}