.navbar-s{
    display: flex;
    justify-content: space-between;
}

.options-s{
    display: flex;
    margin-top: 35px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    color: #FFF5D1;
    margin-left: 173px;
}

.option-1-s{
    margin-right: 28px;
    width: 71px;
    height: 26px;
}

.option-2-s{
    margin-right: 28px;
    width: 118px;
    height: 26px;
}

.option-3-s{
    width: 118px;
    height: 26px;
}

.total-p-s{
    display: flex;
    margin-left: 10vw;
}


.login-btn-s{
    width: 172px;
    height: 54px;
    background: #FFF5D1;
    border-radius: 10px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #10222E;
    margin-right: 14px;
    margin-top: 19px;
    margin-left: 20px;
    outline: none;
    
    
}


.signup-btn-s{
width: 172px;
height: 54px;
background: #10222E;
border: 4px solid #FFF5D1;
box-sizing: border-box;
border-radius: 10px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #FFF5D1;
margin-top: 19px;
margin-right: 62px;
outline: none;

}


.signup__title-s{
margin-top: 62px;
font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #FFF5D1;
margin-left: 50vw;
}

.signup__forms-s{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 20px;
    width: 50vw;
    margin-left: 50vw;
}

.signup__form-s, .select-search__input{
    width: 548px;
    height: 40px;
    background: #EBE7DA;
    border-radius: 10px;
    margin-bottom: 8px;
    height: 7vh;
}

.form-div-s{
    display: flex;

}

.signup__form-1-s{
width: 265px;
height: 7vh;
background: #EBE7DA;
border-radius: 10px;
margin-top: -5px;
margin-left: 0px;
margin-right: 9px;
}



.signup__picture-s{
    width: 309px;
    height: 407.64px;
    border-radius: 28px;
    margin-left: 60px;
    z-index: 999;
    top: 25vh;
    position: absolute;
}

.signup__final-btn-s{
    background: #10222E;
    width: 548px;
    height: 48px;
    border: 4px solid #FFF5D1;
box-sizing: border-box;
border-radius: 10px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
text-align: center;
color: #FFF5D1;
margin-left: 50vw;
margin-bottom: 30px;
outline: none;
}

.signup__footer-s{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
text-align: center;
color: #FFF5D1;
margin-top: 20px;
opacity: 0.6;
margin-left: 1vw;
}

.right-p-s{
    margin-top: 30px;
    margin-left: -120px;
}

.signup__blank-s{
background: #EBE7DA;
border-radius: 28px;
width: 307px;
height: 401.37px;
z-index: 3;
margin-left: 20px;
position: absolute;
left: 10vw;
top: 20vh;
}

.signup__footer_left{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
text-align: center;
color: #FFF5D1;
margin-top: 20px;
opacity: 0.6;
}

.buttons-s{
display: flex;
}

.login-btn-s:hover{
    opacity: 0.6;
}

.signup-btn-s:hover{
    opacity: 0.6;
}

.final-btn-s:hover{
    opacity: 0.6;
}

.mobile__head{
    display: none;
}

@media only screen and (max-width: 768px){
    .signup__picture-s{
        display: none;
    }

    

    .title-s{
        margin-top: -20px;
    }

    .navbar-s{
        display: none;
        height: 0px;
    }

    .buttons-s{
        display: none;
        }

    .signup__blank-s{
        display: none;
    }

    .option-1-s{
    display: none;
    }

    .option-2-s{
     display: none;
    }

    .option-3-s{
     display: none;
    }
    
    .logo-s{
        margin-left: 12vw;
    }

    .mobile__head{
        position: absolute;
        top: 0;
        margin-left: 10vw;
        display: block;
    }

    .options-s{
        margin-left: 10px;
        display: none;
    }

    .right-p-s{
        padding-top: 90px;
    
    }

    .signup__form-s{
        width: 80vw;
        margin-left: 40vw;
    }

    .signup__form-2-s{
        width: 40vw;
    }
    
    .signup__final-btn-s{
        width: max-content;
        margin-top: -20px;
        font-size: 18px;
        width: 120px;
    }

    .signup__footer-s{
        margin-left: 370px;
    }

    .option-1-s,.option-2-s,.option-3-s{
        display: none;
    }

    .signup__title-s{
        margin-left: 77vw;
        padding-left: 33px;
        margin-top: 30px;
    }


    .signup__form-1-s{
        width:145px;
        margin-left: 5px;
    }

    .signup__final-btn-s{
        margin-left: 113vw;
        margin-top: 10px;
    }

    .form-div-s{
        margin-left: 39vw;
    }

    .notInList{
        margin-left: 90vw;
        width: 300px;
        padding-left: 40vw;
        padding-top: 11px;
    }
    
    .signup__footer-s{
        margin-left: 43vw;
    }

    .signup__footer_left{
        margin-left: 10vw;
        font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
text-align: center;
color: #FFF5D1;
margin-top: 20px;
opacity: 0.6;
        padding-left: 106px;
    }


    
}


.notInList{
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 11px;
}

.select-search__option{
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    width: 30vw;
    min-width: 350px;
}

.select-search__input{
    min-width: 460px;
    width: 35.5vw;
    margin-top: 10px;
    margin-left: 27vw;
}

.signup__dots_1{
    left: 9vw;
    top: 17vh;
    z-index: 2;
}

.signup__dots_2{
    bottom: 13vh;
    left: 27vw;
    z-index: 2;
}

.end-s{
    display: flex;
    flex-direction: column;
    margin-left: 64vw;
    margin-top: -15px;
}

.signup__line_1{
    left: -10vw;
    z-index: 0;
    height: 70vh;
    object-fit: contain;
}

.signup__line_2{
    left: -10vw;
    z-index: 0;
    height: 60vh;
    object-fit: contain;
}

::placeholder{
    line-height: 2;
}