
.hrline {
  background-color: #10222E;
  height: 4px;
  margin-top: 25px;
  border-radius: 10px;
}

.TeacherDashboard__heading_row{
    display: flex;
    flex-direction: row;
    margin: 30px 20px 20px 40px;
    align-items: center;
    width: 70vw;
}

.TeacherDashboard__title{
    font-family: 'Fredoka One';
    font-size: 40px;
    color: #10222E;
    text-align: center;
}

.TeacherDashboard__line{
    background-color: #10222E;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    margin-left: 40px;
}

.one button, .two button {
  /* width: 128px; */
  width: 90%;
  height: 46px;
  border: 3px solid #10222E;
  /* box-sizing: border-box; */
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #FFF5D1;
  background-color: #10222E;

  margin-bottom: 5px;
}

.one {
  margin-top: 50px;
}

.two {
   margin-top: 50px;
}

.mySubject {
  /* height: 150px; */
  margin-top: 50px;
  background: #EBE7DA;
  border-radius: 10px;
}


.physics {
  background: #FFF5D1;
  border: 4px solid #10222E;
  box-sizing: border-box;
  border-radius: 10px;
  width: 175px;
  height: 200px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: -25px;
}

.physics img {
  width: 60px;
  height: 60px;
  margin-top: 28px;  
}

.physics p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #10222E;
  margin-top: 28px; 
}

.physics .horizon {
  width: 130px;
  height: 12px;
  background: #10222E;
  opacity: 0.75;
  border-radius: 10px;
  margin: auto;
}

.two button {
  margin-top: 45px;
}

.three {
  margin: 50px auto;
  text-align: center;
}

.testsHistory {
  background: #EBE7DA;
  border-radius: 10px;
  padding-bottom: 10px;
}

.testsHistory table {
  width: 100%;
}

.testsHistory th, td {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #10222E;
  border-right: 1px solid #000000;
}

.testsHistory th{
  border-bottom: 1px solid #000000 !important;
}

.testsHistory .btns {
  width: fit-content;
  margin: auto;
}

.testsHistory .btns button{
  margin: 10px;
  height: 46px;
  width: 150px;
  border: 3px solid #10222E;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #FFF5D1;
  background-color: #10222E;
}






