.first {
  display: flex;
  margin: 20px auto;
}

.slider {
  width: 95%;
  text-align: center;
}

.slider .ellipse {
    width: 5%;
  }

.slider .rect{
    width: 20%;
  }

.cross {
  background: #10222E;
  border-radius: 5px;
  width: 52px;
  height: 52px; 
  text-align: center;
  padding-top: 10px;
}

h3 {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #10222E;
  width: 100%;
}

.questag {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.questag span{
  width: 46px;
  height: 46px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #10222E;

  border: 1px solid #10222E;
  border-radius: 4px;
  margin: auto 10px;
  padding-top: 8px;
}

.test_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.quesnum, .time {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #10222E; 
  width: fit-content;
}

.ques {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;   
  color: #10222E;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 60px;
}

.options .opt {
  display: flex;
  border: 1px solid #10222E;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 15px 45px;
}

.options .opt span {
  background: #FFF5D1;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;

  width: 40px;
  height: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  color: #10222E;
  padding-top: 2px;
  margin-top: 4px;
}

.options .opt p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #10222E;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  height: 48px;
  margin-bottom: 0;
}

.btns {
  
}

.btns button {
  width: 128px;
  height: 46px;
  border: 3px solid #10222E;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.btns .pre {
  color: #10222E;
  background: #FFFFFF;
}

.btns .next {
  color: #10222E;
  background: #FFFFFF;
  margin-left: 14px;
}

.btns .submit {
   float: right;
   color: #FFF5D1;
   background-color: #10222E;
}

@media screen and (max-width: 550px) {
  .header {
    display: inline;
  }

  .btns .submit {
    margin-top: 50px;
  }

  .questag span{
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    margin: auto 2px;
    padding-top: 0px;
  }

  .slider .ellipse {
    width: 8%;
  }

}