.App{
    display: flex;
    flex-direction: row;
}

.OuterApp{
    overflow-x: hidden;
}

.Content{
    margin-left: 20vw;
}

@media only screen and (max-width: 850px) {
    .Content{
        margin-left: 0px;
    }
  }

.LoadingScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 100vh;
    flex-direction: column;
}

.LoadingText{
    margin-bottom: 100px;
}