.header{
    display: flex;
    flex-direction: row;
}

.arrow{
    background-color: #10222E;
    border-radius: 5px;
    padding: 5px;
    margin-right: 3vw;
}

.Class__title{
    background-color: #10222E;
    color: #FFF5D1;
    font-size: 20px;
    font-family: 'Roboto';
    margin-left: 2.5vw;margin-top: 20px;
    min-width: 470px;
    width: 70.15vw;
    padding: 5px 0px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Arrow_img{
    object-fit: contain;
    margin-right: 1.5vw;
    cursor: pointer;
}

.Class__body{
    background-color: #EBE7DA;
    min-width: 470px;
    width: 70.15vw;
    margin-left: 2.5vw;
    display: flex;
    flex-direction: column;
}

.Class__subject_header{
    background-color: #313131;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 500;
}

.Class__subject_1{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Class__subject_2{
    flex-basis: 30%;
}
.Class__subject_3{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Class__subject_4{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Class__subject_5{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Class__subject_body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 500;
}

.Class__subject_footer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.Class__Button_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Class__Button{
    width: 150px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    border: 3px solid #10222E;
    font-family: 'Roboto';
    font-weight: 500;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) 
{
    .prize{
        display: none;
    }
    .Class__body{
        width: 95vw;
        min-width: 10px;
    }
    .Class__title{
        width: 95vw;
        min-width: 10px;
    }

    .Class__subject_footer{
        display: inline;
        flex-direction: column;
        text-align: center;
    }

    .Class__Button_row{
        display: inline;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: auto;
    }

    .Class__Button{
        margin-top: 10px;
    }
} 